{% extends 'main.html' %}

{% block title %}Change password{% endblock %}

{% block content %}

<form method="post" class="row-1">
    {% csrf_token %}
    {% for field in form %}
        <div>
            <div class="change-pasinput">
                {{field.label}}
                {{field}}
            </div>
        </div>  
    {% endfor %}

    <input type="submit" value="Confirm">
    <a href="{% url 'reset_password'  %}" class="change-pass button">Reset here</a>
      
    </div>
  </form>


{% endblock %}