{% extends 'main.html' %}

{% block title %}Reset password{% endblock %}

{% block content %}
<form class="reset-password-confirm-desktop-all-breakpoints screen" method="post">
  {% csrf_token %}  
  <div class="content">
      <div class="content-1">
        <div class="section-title">
          <div class="create-a-new-password roboto-bold-black-48px">Create a new password</div>
          <div class="make-it-stick roboto-normal-black-18px">Make it stick!</div>
        </div>
        <div class="form">
          <div class="input">
            <div class="new-password roboto-normal-black-16px">New password*</div>
            <div class="input-1">
              {{form.new_password1}}
            </div>
          </div>
          <div class="input">
            <div class="new-password roboto-normal-black-16px">Confirm new password*</div>
            <div class="input-1">
              {{form.new_password2}}
            </div>
          </div>
          <div class="buttons">
            <input type="submit" value="Confirm" class="button confirm roboto-normal-white-16px">
          </div>
        </div>
      </div>
    </div>
  </form>

{% endblock %}