{% extends 'main.html' %}

{% block title %}Change password{% endblock %}

{% block content %}
<form class="reset-password-presets-desktop-all-breakpoints screen"   method="post">
    {% csrf_token %}
    <div class="content-2">
      <div class="content-3">
        <div class="section-title-1">
          <div class="change-password-1 roboto-bold-black-48px">Insert your email</div>
        </div>
        <div class="form-1">
          <div class="input-2">
            <div class="new-password-1 roboto-normal-black-16px">Email*</div>
            
            <div class="input-3">
              {{form}}
            </div>
          </div>
          <input type="submit" class="button-1 confirm-1 roboto-normal-white-16px" value="Send" name="Send">
        </div>
      </div>
    </div>
  </form>

{% endblock %}