{% extends 'main.html' %}

{% block title %}Change password{% endblock %}

{% block content %}

<div class="reset-password-sent-presets-desktop-all-breakpoints screen">
    <div class="content">
      <div class="content-1">
        <div class="section-title">
          <div class="change-password roboto-bold-black-48px">Password reseted successfuly</div>
          <a href="{% url 'login' %}" class="lorem-ipsum-dolor-si roboto-normal-black-18px">Log in</a>
        </div>
      </div>
    </div>
  </div>


{% endblock %}