
.preset-detail-mobile-all-breakpoints {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  gap: 10px;
  height: fit-content;

  min-width: 320px;
  width: 100%;
}

.preset-detail-mobile-all-breakpoints .product-header-7 {
  align-items: center;
  background-color: var(--concrete);
  border: 1px none;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 24px;
  padding: 112px 64px;
}

.preset-detail-mobile-all-breakpoints .content-1 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.preset-detail-mobile-all-breakpoints .product-1 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.preset-detail-mobile-all-breakpoints .row-1 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  height: 500px;
  width: 192px;
}

.preset-detail-mobile-all-breakpoints .placeholder-image-2 {
  flex: 1;
  height: 500px;
  width: 500px;
  object-fit: cover;
}

.preset-detail-mobile-all-breakpoints .column-1 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.preset-detail-mobile-all-breakpoints .column-item-1 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.preset-detail-mobile-all-breakpoints .breadcrumbs-1 {
  align-items: center;
  align-self: stretch;
  border: 1px none;
  display: flex;
  gap: 8px;
}

.preset-detail-mobile-all-breakpoints .presets-1 {
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1.00px;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.preset-detail-mobile-all-breakpoints .icon-3 {
  height: 16px;
  min-width: 16px;
}

.preset-detail-mobile-all-breakpoints .product-name-3 {
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1.00px;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.preset-detail-mobile-all-breakpoints .product-name-4 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.preset-detail-mobile-all-breakpoints .product-name-5 {
  letter-spacing: 0;
  line-height: 38.4px;
  margin-right: -10.00px;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.preset-detail-mobile-all-breakpoints .price-1 {
  letter-spacing: 0;
  line-height: 41.6px;
  white-space: nowrap;
  width: fit-content;
}

.preset-detail-mobile-all-breakpoints .product-review-1 {
  align-items: center;
  border: 1px none;
  display: flex;
  gap: 8px;
  width: fit-content;
}

.preset-detail-mobile-all-breakpoints .x10-rateings-1 {
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1.00px;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.preset-detail-mobile-all-breakpoints .lorem-ipsum-dolor-si-3 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
}

.preset-detail-mobile-all-breakpoints .form-submit-2 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px 0px 0px;
}

.preset-detail-mobile-all-breakpoints .button-2 {
  align-items: center;
  align-self: stretch;
  background-color: var(--outrageous-orange);
  border: 1px none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 12px 24px;
}

.preset-detail-mobile-all-breakpoints .add-to-cart-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.preset-detail-mobile-all-breakpoints .accordion-item-2 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
}

.preset-detail-mobile-all-breakpoints .divider-1 {
  align-self: stretch;
  background-color: var(--black);
  border: 1px none;
  height: 1px;
  min-width: 192px;
}

.preset-detail-mobile-all-breakpoints .title-1 {
  align-items: center;
  align-self: stretch;
  border: 1px none;
  display: flex;
  gap: 12px;
  padding: 16px 0px;
}

.preset-detail-mobile-all-breakpoints .details-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 27px;
  margin-top: -1.00px;
  white-space: nowrap;
}

.preset-detail-mobile-all-breakpoints .icon-2 {
  height: 24px;
  min-width: 24px;
}

.preset-detail-mobile-all-breakpoints .lorem-ipsum-dolor-si-4 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
}

.preset-detail-mobile-all-breakpoints .tags-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 27px;
  margin-top: -1.00px;
  white-space: nowrap;
}

.preset-detail-mobile-all-breakpoints .lightroom-presetsli-1 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
}

.preset-detail-mobile-all-breakpoints .about-the-author-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 27px;
  margin-top: -1.00px;
  white-space: nowrap;
}

.preset-detail-mobile-all-breakpoints .frame-1-1 {
  align-items: center;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 27px;
  justify-content: center;
}

.preset-detail-mobile-all-breakpoints .placeholder-image-3 {
  align-self: stretch;
  height: 500px;
  width: 500px;
  object-fit: cover;
}

.preset-detail-mobile-all-breakpoints .lorem-ipsum-dolor-si-5 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
}

.preset-detail-mobile-all-breakpoints .form-submit-3 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 1px;
  padding: 8px 0px 0px;
}

.preset-detail-mobile-all-breakpoints .button-3 {
  align-items: center;
  align-self: stretch;
  border: 1px solid;
  border-color: var(--outrageous-orange);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  height: 46px;
  justify-content: center;
  margin-bottom: -53.00px;
  padding: 12px 24px;
}

.preset-detail-mobile-all-breakpoints .edit-preset-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -2.00px;
  white-space: nowrap;
  width: fit-content;
}

