/* screen - reset-password-sent-presets-desktop-all-breakpoints */

.reset-password-sent-presets-desktop-all-breakpoints {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 38px;
  height: 100vh;
  min-height: 269px;
  min-width: 1512px;
  width: 100%;
}

.reset-password-sent-presets-desktop-all-breakpoints .content {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  padding: 0px 64px;
}

.reset-password-sent-presets-desktop-all-breakpoints .content-1 {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 64px 0px 96px;
  width: 480px;
}

.reset-password-sent-presets-desktop-all-breakpoints .section-title {
  align-items: center;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.reset-password-sent-presets-desktop-all-breakpoints .change-password {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 57.6px;
  margin-top: -1.00px;
  text-align: center;
  white-space: nowrap;
}

.reset-password-sent-presets-desktop-all-breakpoints .lorem-ipsum-dolor-si {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 27px;
  text-align: center;
  white-space: nowrap;
}
