:root { 
  --abbey: #4f4f4f;
  --black: #000000;
  --black-2: #00000080;
  --black-3: #000000bf;
  --concrete: #f2f2f2;
  --eerie-black: #181818;
  --mountain-mist: #939393;
  --orange-red: #ff1d1d;
  --outrageous-orange: #f76036;
  --white: #ffffff;
 
  --font-size-l: 18px;
  --font-size-m: 16px;
  --font-size-s: 14px;
  --font-size-xl: 24px;
  --font-size-xxl: 32px;
  --font-size-xxxl: 42px;
  --font-size-xxxxl: 48px;
 
  --font-family-inter-bold: "Inter-Bold", Helvetica;
  --font-family-inter-regular: "Inter-Regular", Helvetica;
  --font-family-inter-semibold: "Inter-SemiBold", Helvetica;
  --font-family-nunito-bold: "Nunito-Bold", Helvetica;
  --font-family-nunito-regular: "Nunito-Regular", Helvetica;
  --font-family-nunito-semibold: "Nunito-SemiBold", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
}
.roboto-normal-black-16px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-white-14px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-mountain-mist-16px {
  color: var(--mountain-mist);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-abbey-16px {
  color: var(--abbey);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.roboto-semi-bold-black-18px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.roboto-semi-bold-black-20px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.roboto-normal-black-18px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-black-14px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.roboto-bold-black-32px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.roboto-bold-black-48px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
}

.roboto-semi-bold-black-16px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.roboto-normal-eerie-black-14px {
  color: var(--eerie-black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.roboto-bold-black-28px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
}

.roboto-normal-abbey-12px {
  color: var(--abbey);
  font-family: var(--font-family-roboto);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.nunito-regular-normal-black-16px {
  color: var(--black);
  font-family: var(--font-family-nunito-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.roboto-bold-black-18px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.roboto-semi-bold-eerie-black-18px {
  color: var(--eerie-black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.inter-regular-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-inter-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.nunito-regular-normal-abbey-16px {
  color: var(--abbey);
  font-family: var(--font-family-nunito-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.roboto-semi-bold-outrageous-orange-18px {
  color: var(--outrageous-orange);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.roboto-bold-black-42px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.roboto-semi-bold-black-32px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 600;
}

.roboto-normal-eerie-black-16px {
  color: var(--eerie-black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-black-24px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.roboto-semi-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.inter-regular-normal-black-14px {
  color: var(--black);
  font-family: var(--font-family-inter-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.roboto-bold-black-56px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
}

.roboto-normal-white-24px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-black-28px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-eerie-black-18px {
  color: var(--eerie-black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.inter-semi-bold-black-18px {
  color: var(--black);
  font-family: var(--font-family-inter-semibold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-black-20px {
  color: var(--black);
  font-family: var(--font-family-inter-semibold);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.inter-regular-normal-white-14px {
  color: var(--white);
  font-family: var(--font-family-inter-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.nunito-regular-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-nunito-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-white-18px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.roboto-semi-bold-black-24px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
}

.roboto-bold-eerie-black-48px {
  color: var(--eerie-black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
}

.inter-regular-normal-black-16px {
  color: var(--black);
  font-family: var(--font-family-inter-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.nunito-regular-normal-black-14px {
  color: var(--black);
  font-family: var(--font-family-nunito-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.roboto-bold-black-14px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.roboto-semi-bold-black-14px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
}

.roboto-bold-white-42px {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.roboto-bold-outrageous-orange-42px {
  color: var(--outrageous-orange);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.roboto-normal-concrete-16px {
  color: var(--concrete);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.roboto-semi-bold-eerie-black-16px {
  color: var(--eerie-black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.nunito-semi-bold-black-18px {
  color: var(--black);
  font-family: var(--font-family-nunito-semibold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.nunito-semi-bold-black-20px {
  color: var(--black);
  font-family: var(--font-family-nunito-semibold);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.nunito-regular-normal-white-14px {
  color: var(--white);
  font-family: var(--font-family-nunito-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.nunito-semi-bold-black-16px {
  color: var(--black);
  font-family: var(--font-family-nunito-semibold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.nunito-bold-black-48px {
  color: var(--black);
  font-family: var(--font-family-nunito-bold);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
}

.nunito-regular-normal-black-18px {
  color: var(--black);
  font-family: var(--font-family-nunito-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.roboto-bold-white-56px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
}

.roboto-bold-white-48px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
}
